.community-nav .nav-link {
    color: #66615B;
    width: 17vh;
    text-align: center;
    margin: 5px;
    border: 1px solid #DEE2E6;
    font-weight: bold;
    background-color: #FFF;
    cursor: pointer;
}

.pinned-row {
    font-weight: bold;
    color: lightcoral;
}