.health-examination-table {
    border-collapse: collapse;
    width: 100%;
}

.health-examination-table th, .health-examination-table td {
    border: 1px solid gray;
}

.health-examination-table th {
    border: 1px solid gray;
}

.radio-group {
    display: inline-block;
    margin-right: 25px;
}
  
.radio-group input {
    margin-right: 5px;
}

.radio-group-2 {
    display: inline-block;
    margin-right: 35px;
}
  
.radio-group-2 input {
    margin-right: 20px;
}