/* calendar 배경 색상 */
.fc-view-harness {
    background-color: white;
}

/* 토요일 표시 색상 */
.fc-day-sat a {
    color: blue;
}

/* 일요일 표시 색상 */
.fc-day-sun a {
    color: red;
}

.fc-day-mon a, .fc-day-tue a, .fc-day-wed a, .fc-day-thu a, .fc-day-fri a {
    color: #9A9A9A;
}

.fc-day-sat a {
    color: blue;
}

.fc-day-sat a {
    color: blue;
}

.fc-day-sat a {
    color: blue;
}

.fc-day-sat a {
    color: blue;
}

.fc-day-sat a {
    color: blue;
}

.fc-day-sat a {
    color: blue;
}

video
.fc-day-sat a {
    color: blue;
}
