/* .btn-plus {
    background-color: transparent;
    color: #999;
}

.btn-minus {
    background-color: transparent;
    color: #999;
}

.btn-allMinus {
    background-color: transparent;
    color: #999;
    font-weight: bold;
} */