.work-status-buttons button {
    border-color: #9A9A9A !important;
    font-weight: bold;
    color: #9A9A9A;
}

.work-status-buttons button:hover {
    background-color: gray !important;
}

.work-status-buttons .btn:focus {
    background-color: gray !important;
}

.work-status-dropdown-menu {
    min-width: 100px !important;
}

.scrollable-dropdown-items {
    max-height: 300px;
    overflow-y: auto;
}

.pmInfo {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px dashed lightgrey;
    border-radius: 5px;
    background-color: white;
}