/* Input 속성 내 Font Style 처리*/
.card-user label {
    font-size: 15px !important;
    font-weight: bold;
}

/* Disable Input 회색 음영처리 제거*/
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: transparent;
}

@media print {
    body {
        margin-top: 25%;
    }
    .qrcode-title {
        margin-bottom: 20%;
    }
    .qrcode-title h3 {
        font-size: 35px !important;
        color: black !important;
        font-weight: bold !important;
    }
    .qrcode-image {
        margin-bottom: 20%;
    }

    .qrcode-image img {
        width: 400px !important;
        height: 400px !important;
    }

    .qrcode-footer p {
        color: black !important;
        font-size: 30px !important;
    }
}

.card-user .user-inner-button {
    background-color: transparent !important;
    border: 1px solid #DDDDDD;
    color: #66615b;
}

.card-user .user-inner-button:hover,
.card-user .user-inner-button:active,
.card-user .user-inner-button:focus {
    color: #fff !important;
    background-color: #403D39 !important;
    border: none !important;

}

.registered-name-table {
    background-color: #f56954 !important;
    color: #fff !important;
}

.registered-teacher-table {
    background-color: #f56954 !important;
    color: #fff !important;
    border: none;
}

.name-table-default {
    border-width: 1px !important;
}

/* .btn-secondary:not(:disabled):not(.disabled):active {
    color: #66615b;
} */