.card {
    border-radius: 0.3em;
}

.bed-card-stats {
    height: 75px;
}

.bed-card-stats p {
    margin-top: 9px;
}

.bed-icons-not-use {
    font-size: 40px;
    color: grey;
    margin-left: 10px;
    margin-top: 3px;
}

.bed-icons-use {
    font-size: 40px;
    color: lightblue;
    margin-left: 10px;
    margin-top: 3px;
}

.work-note-item {
    height: 27px;
    display: flex;
    align-items: center;

}

.card-work-note-header {
    height: 30px;
    line-height: 1px;
    font-size: 14px;
}

.action-title{
    font-size: 14px;
}

.stats-table tr > td,
.stats-table th {
    padding: 6px 6px !important;
}

.stats-table td,
.stats-table th {
    border: 1px solid #DEE2E6 !important;
    padding: 8px;
}

.stats-table th {
    background-color: #F8F9FA;
}

.stats-table td {
    background-color: white;
}

.tagify {
    display: flex !important;
    height: 77px;
    overflow-x: auto;
    border: 2px solid #DEE2E6;
    padding: 0px;
}

.alert.alert-warning {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 7px;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #E5C1BD;
    border-color: #E5C1BD;
}

.exit-use-bed {
    position: absolute; /* 절대 위치로 설정 */
    top: 38%; /* 카드의 중앙에 배치하기 위해 top을 50%로 설정 */
    left: 50%; /* 카드의 중앙에 배치하기 위해 left를 50%로 설정 */
    transform: translate(-50%, -50%); /* 카드의 중앙에 정확하게 배치하기 위해 이동 */
    z-index: 999; /* 다른 요소 위에 표시하기 위해 z-index 값을 조절 */
    /* background-color: #f1926e; */
}

.card-blur:not(:last-child) {
    filter: blur(2px);
}

.exit-use-bed:hover {
    /* background-color: #f07446 !important; */
}

.studentInfo label {
    font-size: 14px;
    font-weight: bold;
}

.workNoteForm label {
    font-size: 14px;
    font-weight: bold;
}

.bed-number-badge {
    position: absolute;
    top: -10px;
    right: 12px;
    background-color: white;
    color: black;
    border-radius: 50%;
    border: 3px dashed lightcoral;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}