.card {
    border-radius: 0.3em;
}

.card-stats {
    height: 70px;
}

.bed-icons-not-use {
    font-size: 40px;
    color: grey;
    margin-left: 10px;
}

.bed-icons-use {
    font-size: 40px;
    color: lightblue;
    margin-left: 10px;
}

.work-note-item {
    height: 27px;
    display: flex;
    align-items: center;

}

.card-work-note-header {
    height: 30px;
    line-height: 1px;
    font-size: 14px;
}

.action-title{
    font-size: 14px;
}

.stats-table td,
.stats-table th {
    border: 1px solid #DEE2E6 !important;
    padding: 8px;
}

.stats-table th {
    background-color: #F8F9FA;
}

.stats-table td {
    background-color: white;
}

.tagify {
    display: flex !important;
    height: min-content;
    flex-wrap: nowrap;
    overflow-x: auto;
    /* --tag-max-width: unset !important; */
}

.tagify__input {
    margin: 0;
    line-height: 30px;
    white-space: nowrap;
}

.tagify__tag {
    font-size: 16px;
    max-width: unset;
}
